/target*
/.vscode
/.idea
/.DS_Store
/.env
/*.html
/coverage
/*.profraw
/cobertura.xml
/tarpaulin*
/benches/results
/node_modules/
/.package-lock.json
/package-lock.json
/package.json
/__pycache__/
**/__pycache__/